# Import all required LibrariesÂ¶

In [1]:
import pandas
import numpy

# Read data

In [2]:
data = pandas.read_csv('Titanic.csv')
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500
5,6,0,3,"Moran, Mr. James",male,NaN,330877,8.4583
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,17463,51.8625
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,349909,21.0750
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,347742,11.1333
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,237736,30.0708

# Drop Unnessesary columns from the data

In [3]:
data = data.drop(columns = ['PassengerId', 'Name', 'Ticket'])
data.head(10)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500
5         0       3    male   NaN   8.4583
6         0       1    male  54.0  51.8625
7         0       3    male   2.0  21.0750
8         1       3  female  27.0  11.1333
9         1       2  female  14.0  30.0708

# Replacing non numerical values to numerical values

In [4]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
data['sex'] = le_sex.fit_transform(data['Sex'])
data.head(10)

   Survived  Pclass     Sex   Age     Fare  sex
0         0       3    male  22.0   7.2500    1
1         1       1  female  38.0  71.2833    0
2         1       3  female  26.0   7.9250    0
3         1       1  female  35.0  53.1000    0
4         0       3    male  35.0   8.0500    1
5         0       3    male   NaN   8.4583    1
6         0       1    male  54.0  51.8625    1
7         0       3    male   2.0  21.0750    1
8         1       3  female  27.0  11.1333    0
9         1       2  female  14.0  30.0708    0

In [5]:
data = data.drop(columns = ['Sex'])
data.head(10)

   Survived  Pclass   Age     Fare  sex
0         0       3  22.0   7.2500    1
1         1       1  38.0  71.2833    0
2         1       3  26.0   7.9250    0
3         1       1  35.0  53.1000    0
4         0       3  35.0   8.0500    1
5         0       3   NaN   8.4583    1
6         0       1  54.0  51.8625    1
7         0       3   2.0  21.0750    1
8         1       3  27.0  11.1333    0
9         1       2  14.0  30.0708    0

# Filling null values with the mean of remaining values in the column

In [6]:
data.Age = data.Age.fillna(data.Age.mean())
data.head(10)

   Survived  Pclass        Age     Fare  sex
0         0       3  22.000000   7.2500    1
1         1       1  38.000000  71.2833    0
2         1       3  26.000000   7.9250    0
3         1       1  35.000000  53.1000    0
4         0       3  35.000000   8.0500    1
5         0       3  29.699118   8.4583    1
6         0       1  54.000000  51.8625    1
7         0       3   2.000000  21.0750    1
8         1       3  27.000000  11.1333    0
9         1       2  14.000000  30.0708    0

# Dividing the data into dependent and independent variables

In [7]:
Y = data.Survived
X = data.drop(columns = ['Survived'])
X, Y

(     Pclass        Age     Fare  sex
 0         3  22.000000   7.2500    1
 1         1  38.000000  71.2833    0
 2         3  26.000000   7.9250    0
 3         1  35.000000  53.1000    0
 4         3  35.000000   8.0500    1
 ..      ...        ...      ...  ...
 886       2  27.000000  13.0000    1
 887       1  19.000000  30.0000    0
 888       3  29.699118  23.4500    0
 889       1  26.000000  30.0000    1
 890       3  32.000000   7.7500    1

 [891 rows x 4 columns],
 0      0
 1      1
 2      1
 3      1
 4      0
       ..
 886    0
 887    1
 888    0
 889    1
 890    0
 Name: Survived, Length: 891, dtype: int64)

# Splitting data into training data and testing data

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

# Standardize of a dataset

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [9]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
X_train = SS.fit_transform(X_train)
X_test = SS.fit_transform(X_test)
X_train, X_test

(array([[-1.52295078, -0.02389558, -0.66185417,  0.71980808],
        [ 0.83175271, -1.05388198, -0.25470425,  0.71980808],
        [-0.34559904, -0.02389558, -0.41354299, -1.38925921],
        ...,
        [ 0.83175271, -0.60276399, -0.46405974, -1.38925921],
        [-1.52295078, -0.60276399,  0.3334012 , -1.38925921],
        [-0.34559904,  0.90096265, -0.40047398,  0.71980808]]),
 array([[-4.75423387e-01,  9.09624656e-01, -3.32070411e-01,
          8.10806640e-01],
        [-4.75423387e-01, -3.81837903e-01, -3.32070411e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -1.23545391e-01, -4.37670607e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -7.91043526e-02,
         -1.23333968e+00],
        [-1.76482924e+00,  2.20108721e+00,  9.92278443e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.19069535e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -6.40130415e-01, -4.38092667e-01,
          8.10806640e-01],
        [-1.76482924e+00,  1.34747121e-01,  1.30138253e+00,
         -1.23333968e+00],
        [-4.75423387e-01,  1.85669720e+00, -3.82798763e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -1.75939797e+00, -4.87254040e-03,
          8.10806640e-01],
        [-4.75423387e-01,  9.09624656e-01, -6.82829805e-02,
          8.10806640e-01],
        [-1.76482924e+00,  8.23527152e-01,  4.02092948e+00,
         -1.23333968e+00],
        [ 8.13982466e-01, -5.54032911e-01, -4.37670607e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  3.06942128e-01, -4.35048966e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  8.23527152e-01, -4.35641473e-01,
          8.10806640e-01],
        [-4.75423387e-01, -3.81837903e-01, -2.15395202e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  6.51332144e-01, -6.04200859e-02,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.31244340e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  6.51332144e-01, -1.05821961e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -7.26227919e-01, -4.52803889e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -4.67935407e-01, -4.35641473e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  3.93039632e-01, -4.38092667e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.38599951e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -8.98422926e-01, -4.58891292e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -1.67330046e+00, -2.86500118e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.38599951e-01,
          8.10806640e-01],
        [-4.75423387e-01, -3.81837903e-01, -3.32070411e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.35641473e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -8.98422926e-01, -4.36485593e-01,
          8.10806640e-01],
        [-4.75423387e-01, -1.24281294e+00,  1.43190098e-02,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -3.02479549e-01,
         -1.23333968e+00],
        [-4.75423387e-01,  6.51332144e-01, -3.27731340e-02,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.38853592e-01,
          8.10806640e-01],
        [-4.75423387e-01, -1.23545391e-01, -6.82829805e-02,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.38599951e-01,
         -1.23333968e+00],
        [-4.75423387e-01,  1.08181966e+00, -2.00176696e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -8.12325422e-01, -4.35641473e-01,
          8.10806640e-01],
        [-4.75423387e-01, -2.10378798e+00,  1.95504450e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -2.10378798e+00, -3.23615010e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  8.23527152e-01,  8.50575894e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  1.08841901e-01, -6.98048311e-02,
          8.10806640e-01],
        [-4.75423387e-01, -4.67935407e-01, -3.32070411e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -3.74478872e-02, -4.37670607e-01,
          8.10806640e-01],
        [-1.76482924e+00,  5.65234640e-01,  9.79998857e+00,
         -1.23333968e+00],
        [-1.76482924e+00,  1.77059969e+00,  1.65411299e+00,
          8.10806640e-01],
        [ 8.13982466e-01, -1.07061793e+00, -4.38938816e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  5.65234640e-01,  4.81612356e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  5.65234640e-01,  1.09796183e+00,
         -1.23333968e+00],
        [ 8.13982466e-01, -1.15671544e+00, -3.02562744e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.35641473e-01,
          8.10806640e-01],
        [-1.76482924e+00, -3.81837903e-01,  1.01121635e+00,
          8.10806640e-01],
        [-1.76482924e+00,  1.94279470e+00,  9.86020594e-01,
         -1.23333968e+00],
        [-4.75423387e-01, -2.95740399e-01,  1.28823828e-02,
         -1.23333968e+00],
        [ 8.13982466e-01, -2.36208049e+00,  2.09454747e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.35978309e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -1.15671544e+00, -4.49252905e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.36992877e-01,
         -1.23333968e+00],
        [-4.75423387e-01,  2.28718472e+00, -2.71196389e-01,
         -1.23333968e+00],
        [-4.75423387e-01,  1.85669720e+00, -6.82829805e-02,
         -1.23333968e+00],
        [-4.75423387e-01,  1.34747121e-01, -1.08865662e-01,
          8.10806640e-01],
        [-1.76482924e+00, -1.50110545e+00,  1.83910306e+00,
          8.10806640e-01],
        [-4.75423387e-01,  4.79137136e-01,  6.36107349e-02,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.38599951e-01,
          8.10806640e-01],
        [-4.75423387e-01,  6.51332144e-01, -3.34606829e-01,
          8.10806640e-01],
        [-4.75423387e-01,  5.65234640e-01, -3.82798763e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -1.24281294e+00,  3.55806043e-01,
          8.10806640e-01],
        [-1.76482924e+00,  1.08841901e-01,  6.79498058e-03,
          8.10806640e-01],
        [-4.75423387e-01,  1.08841901e-01, -5.95857842e-01,
          8.10806640e-01],
        [-1.76482924e+00,  3.14815976e+00,  6.61783230e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.41051145e-01,
         -1.23333968e+00],
        [-4.75423387e-01,  1.34747121e-01, -3.82798763e-01,
          8.10806640e-01],
        [-4.75423387e-01,  4.86496167e-02, -1.69739685e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01,  8.15404913e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.34011218e+00, -2.69167255e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -1.67330046e+00, -1.79378072e-01,
          8.10806640e-01],
        [-1.76482924e+00,  2.20844625e-01,  4.59291881e-01,
          8.10806640e-01],
        [-4.75423387e-01,  4.79137136e-01, -3.82798763e-01,
         -1.23333968e+00],
        [-4.75423387e-01, -5.54032911e-01,  2.47839877e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -8.98422926e-01, -2.30613707e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  2.02889221e+00,  1.02034746e+00,
          8.10806640e-01],
        [-4.75423387e-01,  1.34011218e+00, -6.82829805e-02,
          8.10806640e-01],
        [-4.75423387e-01,  1.34747121e-01, -3.32070411e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01,  8.15404913e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -2.95740399e-01, -4.35641473e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -8.98422926e-01, -4.43758010e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.35641473e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.35641473e-01,
          8.10806640e-01],
        [-1.76482924e+00,  1.08841901e-01,  4.18709199e-01,
          8.10806640e-01],
        [-4.75423387e-01,  4.86496167e-02, -3.33656412e-02,
          8.10806640e-01],
        [-4.75423387e-01,  4.79137136e-01, -3.32070411e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -1.23545391e-01, -4.35048966e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  2.20844625e-01, -4.35048966e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -1.23545391e-01, -3.69948257e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  1.34747121e-01,  3.31737237e-02,
         -1.23333968e+00],
        [-4.75423387e-01, -1.93159297e+00,  7.37564053e-02,
         -1.23333968e+00],
        [ 8.13982466e-01, -3.74478872e-02, -2.74240090e-01,
          8.10806640e-01],
        [-4.75423387e-01,  3.93039632e-01, -3.27731340e-02,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08181966e+00,  2.09454747e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  2.54547723e+00,  6.79498058e-03,
          8.10806640e-01],
        [-4.75423387e-01, -8.98422926e-01, -3.62507423e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -1.23545391e-01, -3.42723365e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -1.67330046e+00,  1.01656999e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  1.08841901e-01, -5.71227430e-02,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -2.86500118e-01,
          8.10806640e-01],
        [-4.75423387e-01,  3.06942128e-01, -3.82798763e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.35641473e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -3.01633400e-01,
          8.10806640e-01],
        [-4.75423387e-01, -1.23545391e-01, -1.69739685e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -6.40130415e-01, -4.38599951e-01,
         -1.23333968e+00],
        [-4.75423387e-01, -5.54032911e-01, -7.40895801e-03,
         -1.23333968e+00],
        [ 8.13982466e-01, -6.40130415e-01, -4.36485593e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  3.06942128e-01, -4.35641473e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  9.09624656e-01, -1.05821961e-01,
          8.10806640e-01],
        [-4.75423387e-01, -1.75939797e+00, -6.32101453e-02,
         -1.23333968e+00],
        [ 8.13982466e-01, -2.01769048e+00, -3.42723365e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -2.09642895e-01, -4.36485593e-01,
         -1.23333968e+00],
        [-4.75423387e-01, -8.12325422e-01, -3.82798763e-01,
          8.10806640e-01],
        [-4.75423387e-01, -1.84549547e+00, -6.32101453e-02,
         -1.23333968e+00],
        [-1.76482924e+00,  1.42620968e+00,  1.24484757e-01,
          8.10806640e-01],
        [-4.75423387e-01, -2.95740399e-01, -6.82829805e-02,
         -1.23333968e+00],
        [ 8.13982466e-01, -7.26227919e-01, -4.36485593e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -4.24886655e-01, -4.49167681e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -2.27598299e+00, -1.68217834e-01,
          8.10806640e-01],
        [-1.76482924e+00,  1.34011218e+00,  1.23036283e+00,
          8.10806640e-01],
        [-4.75423387e-01, -1.07061793e+00, -6.82829805e-02,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -2.69167255e-01,
         -1.23333968e+00],
        [-4.75423387e-01,  1.59840469e+00, -2.91487730e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  2.20844625e-01, -4.38599951e-01,
          8.10806640e-01],
        [-1.76482924e+00, -8.12325422e-01, -6.25344436e-02,
         -1.23333968e+00],
        [-1.76482924e+00,  4.86496167e-02,  3.69246340e+00,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.16791717e+00, -4.40629085e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  4.79137136e-01, -3.03662534e-01,
          8.10806640e-01],
        [-4.75423387e-01,  9.09624656e-01, -3.32070411e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  5.60086473e-03, -4.49167681e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -8.12325422e-01, -4.36485593e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.48745621e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -3.81837903e-01, -1.05821961e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.25401467e+00, -4.64978694e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -3.74478872e-02, -1.38795390e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -2.89458596e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -2.36208049e+00, -2.76437642e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -3.02562744e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.36992877e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  3.93039632e-01, -1.79378072e-01,
          8.10806640e-01],
        [-1.76482924e+00,  2.20108721e+00,  4.56501822e-01,
          8.10806640e-01],
        [-1.76482924e+00,  2.02889221e+00,  9.92278443e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -8.12325422e-01, -4.58891292e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  2.20844625e-01, -4.19662042e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  9.95722160e-01, -3.33656412e-02,
          8.10806640e-01],
        [-4.75423387e-01, -2.39049267e+00, -3.01633400e-01,
          8.10806640e-01],
        [-4.75423387e-01,  1.34011218e+00, -6.82829805e-02,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01,  5.50517691e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  3.93039632e-01, -4.20084102e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -6.40130415e-01, -2.69167255e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.34747121e-01, -3.42723365e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -9.84520430e-01, -4.20084102e-01,
          8.10806640e-01],
        [-4.75423387e-01,  1.85669720e+00, -3.82798763e-01,
         -1.23333968e+00],
        [-1.76482924e+00,  1.08841901e-01, -5.95857842e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -2.09642895e-01, -3.02562744e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  5.65234640e-01, -4.52803889e-01,
          8.10806640e-01],
        [-1.76482924e+00, -1.07061793e+00,  1.15934314e+00,
         -1.23333968e+00],
        [ 8.13982466e-01,  6.51332144e-01, -5.95857842e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  5.65234640e-01, -4.35641473e-01,
          8.10806640e-01],
        [-1.76482924e+00, -2.36896829e+00,  2.47929486e+00,
          8.10806640e-01],
        [-4.75423387e-01, -4.67935407e-01, -3.32070411e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -4.32512548e-01,
          8.10806640e-01],
        [ 8.13982466e-01,  1.08841901e-01, -1.05821961e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -2.81342059e-01,
         -1.23333968e+00],
        [-4.75423387e-01,  3.93039632e-01, -3.46781633e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -2.95740399e-01, -4.38092667e-01,
          8.10806640e-01],
        [-1.76482924e+00,  1.08841901e-01,  1.65411299e+00,
         -1.23333968e+00],
        [ 8.13982466e-01, -1.58720296e+00, -1.05821961e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.47477412e-01,
          8.10806640e-01],
        [-1.76482924e+00, -2.95740399e-01,  2.47929486e+00,
         -1.23333968e+00],
        [ 8.13982466e-01,  9.95722160e-01, -4.03597388e-01,
         -1.23333968e+00],
        [ 8.13982466e-01,  1.08841901e-01, -4.38599951e-01,
         -1.23333968e+00],
        [-4.75423387e-01, -4.67935407e-01, -3.16005757e-01,
         -1.23333968e+00],
        [ 8.13982466e-01, -6.40130415e-01, -4.32512548e-01,
          8.10806640e-01],
        [ 8.13982466e-01, -1.23545391e-01, -4.20084102e-01,
          8.10806640e-01]]))

# Import DesicionTreeClassifier from the sklearn library

In [14]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

# Training model by providing the training data into the model

In [15]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

# Training model by providing the training data into the model

In [16]:
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0])

# Printing metrics of the model

In [17]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test, y_pred)
acc

0.7262569832402235

In [18]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
cm

array([[78, 32],
       [17, 52]])